DROP DATABASE IF EXISTS Flowershop;
CREATE DATABASE Flowershop;
USE Flowershop;


CREATE TABLE Employee (
                          emp_id       INT AUTO_INCREMENT PRIMARY KEY,
                          name         VARCHAR(100) NOT NULL,
                          nic          VARCHAR(12) NOT NULL UNIQUE,
                          job_role     VARCHAR(50) NOT NULL,
                          email        VARCHAR(100) NOT NULL UNIQUE,
                          contact_num   VARCHAR(10) NOT NULL,
                          address      VARCHAR(255) NOT NULL
);
INSERT INTO Employee (name, nic, job_role, email, contact_num, address)
VALUES
    ('Nimal Perera', '200012345678', 'Manager', 'nimal@gmail.com', '0771234567', 'Colombo'),
    ('Kasuni Silva', '200112345679', 'Cashier', 'kasuni@gmail.com', '0719876543', 'Gampaha'),
    ('Ravindu Kumara', '200212345670', 'Stock Keeper', 'ravindu@gmail.com', '0744567890', 'Kandy'),
    ('Tharushi Wijesinghe', '200312345671', 'Sales Assistant', 'tharushi@gmail.com', '0756789123', 'Matara');


CREATE TABLE User (
                      user_id      INT AUTO_INCREMENT PRIMARY KEY,
                      user_name    VARCHAR(50) NOT NULL UNIQUE,
                      password     VARCHAR(50) NOT NULL,
                      email        VARCHAR(100) NOT NULL UNIQUE,
                      role        VARCHAR(100) NOT NULL ,
                      emp_id       INT NOT NULL UNIQUE,
                      FOREIGN KEY (emp_id) REFERENCES Employee(emp_id)
);

INSERT INTO User (user_name, password, email, role, emp_id)
VALUES
    ('admin', 'admin123', 'nimal@gmail.com', 'Admin', 1),
    ('kasuni_user', 'kasuni123', 'kasuni@gmail.com', 'Receptionist', 2),
    ('ravindu_user', 'ravi123', 'ravindu@gmail.com', 'Receptionist', 3),
    ('tharu_user', 'tharu123', 'tharu@gmail.com', 'Manager', 4);


CREATE TABLE Customer (
                          cus_id        INT AUTO_INCREMENT PRIMARY KEY,
                          cus_name      VARCHAR(100) NOT NULL,
                          email         VARCHAR(100) NOT NULL ,
                          contact_num   VARCHAR(10) NOT NULL,
                          address       VARCHAR(255) NOT NULL,
                          register_date    VARCHAR(10) NOT NULL
);


CREATE TABLE Supplier (
                          supplier_id   INT AUTO_INCREMENT PRIMARY KEY,
                          name          VARCHAR(100) NOT NULL,
                          email         VARCHAR(100) NULL UNIQUE,
                          contact_num   VARCHAR(10) NOT NULL UNIQUE,
                          address       VARCHAR(255) NOT NULL
);


CREATE TABLE Item (
                      item_id      INT AUTO_INCREMENT PRIMARY KEY,
                      item_name    VARCHAR(100) NOT NULL UNIQUE,
                      unit_price   DECIMAL(10,2) NOT NULL,
                      img_src    VARCHAR(100) NOT NULL ,
                      item_color    VARCHAR(50) NOT NULL ,
                      quantity     INT NOT NULL
);


#
# INSERT INTO Item (item_name, unit_price, img_src, item_color, quantity) VALUES
#                                                                             ('Kiwi', 2.99, '/img/kiwi.png', '6A7324', 10),
#                                                                             ('Coconut', 3.99, '/img/coconut.png', 'A7745B', 10),
#                                                                             ('Peach', 1.50, '/img/peach.png', 'F16C31', 10),
#                                                                             ('Grapes', 0.99, '/img/grapes.png', '291D36', 10),
#                                                                             ('Watermelon', 4.99, '/img/watermelon.png', '22371D', 10),
#                                                                             ('Orange', 2.99, '/img/orange.png', 'FB5D03', 10),
#                                                                             ('StrawBerry', 0.99, '/img/strawberry.png', '80080C', 10),
#                                                                             ('Mango', 0.99, '/img/mango.png', 'FFB605', 10),
#                                                                             ('Cherry', 0.99, '/img/cherry.png', '5F060E', 10),
#                                                                             ('Banana', 1.99, '/img/banana.png', 'E7C00F', 10);
#



CREATE TABLE Orders (
                        order_id      INT AUTO_INCREMENT PRIMARY KEY,
                        order_date    DATE NOT NULL,
                        time          TIME NULL,
                        total_amount  DECIMAL(10,2) NOT NULL,
                        cus_id        INT NOT NULL,
                        user_id       INT NOT NULL,
                        FOREIGN KEY (cus_id) REFERENCES Customer(cus_id),
                        FOREIGN KEY (user_id) REFERENCES User(user_id)
);


CREATE TABLE Payment (
                         payment_id   INT AUTO_INCREMENT PRIMARY KEY,
                         payment_method ENUM('Cash','Card','Online'),
                         payment_date   DATETIME NOT NULL,
                         total_amount  DECIMAL(10,2) NOT NULL,
                         status ENUM('Success','Failed','Pending'),
                         order_id     INT NOT NULL ,
                         FOREIGN KEY (order_id) REFERENCES Orders(order_id)
);


CREATE TABLE Order_Details (
                               order_id     INT NOT NULL,
                               item_id      INT NOT NULL,
                               quantity     INT NOT NULL,
                               payment_id   INT NOT NULL UNIQUE,
                               PRIMARY KEY (order_id, item_id),
                               FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                               FOREIGN KEY (item_id) REFERENCES Item(item_id),
                               FOREIGN KEY (payment_id) REFERENCES Payment(payment_id)
);
